{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="newCustomersChart"></canvas>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var ctx = document.getElementById('newCustomersChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for kpi in queryset %}'{{ kpi.date }}',{% endfor %}],
                    datasets: [{
                        label: 'New Customers',
                        data: [{% for kpi in queryset %}{{ kpi.new_customers }},{% endfor %}],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
